.react-flow__node-filter {
  font-size: 10px;
  width: 180px;
  background: #f5f5f6;
  color: #222;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
  border-radius: 2px;
}

.react-flow__minimap {
  background: rgb(26, 25, 43);
}

.custom-node__select .react-flow__handle-left {
  left: -.75rem;
}

.custom-node__select .react-flow__handle-right {
  right: -.75rem;
}

.react-flow__handle {
  height: 80%;
  border-radius: 0;
  background-color: #778899;
}

.react-flow__handle-connecting {
  background: #ff6060;
}

.react-flow__handle-valid {
  background: #55dd99;
}